---
import {Icon} from 'astro-icon/components';
import { Button, Container, TextCardSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Get Started using the Ancourage By Min Theme',
	description: 'Get started on how to setup and use this Astro theme.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Get Started with Ancourage</h1>
			<div class="cta-buttons__container">
        <Button
        href="https://wa.link/mebfzn"
        outlined
        newTab
        customIcon
        >
        Call us now
        <Fragment slot="icon">
          <Icon name="ic:baseline-launch" />
        </Fragment>
      </Button>
        
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
