---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

import { Icon } from 'astro-icon/components';
import {
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Ancourage By Min | Primary, Secondary, JC & IB Tuition | Student Care',
	description: 'Ancourage By Min provides expert tuition services for students of all levels. We offer personalized learning programs to help students excel in subjects like Math, English, Arts, and Science. Join us for academic success today!',
};
---


<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Unlock Your Child's Potential</h1>
			<p>Start their academic journey with Ancourage, providing tailored learning programs for success.</p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-hero-1.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Ancourage has the warmest and friendliest teachers! The atmosphere is so conducive and comfortable for children to learn in. For student care, the teachers are respectful and caring towards every child’s needs. They also hold fun activities to build various life skills in children."
		customerName="Satisfied Parent"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Why?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>What?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded
	/>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>ESB Methodology</h2>
			<h3>SEO</h3>
			<p>
				Ebbinghaus' Memory Theory
			</p>
			<h3>Responsive</h3>
			<p>
				Socratic Approach
			</p>
			<h3>Themeable</h3>
			<p>
				Bruner's Scaffolding Technique
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-sticky.jpg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Begin Your Learning Journey</h2>
		<p>
			Empower your child to excel with personalized learning and dedicated academic support at our tuition center. Build a strong foundation for their future success.
		</p>
		<Button href="/theme/get-started" customIcon
			>Enroll Now <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>